<header>
    <div id="heading">
        <h1>Blogger Head</h1>
        <h3>Keep Blogging...</h3>
    </div>
    <nav>
        <a href="/">Home</a>
        <a href="/orders">Orders</a>
    </nav>
</header>