<%- include('layouts/head'); -%>
<body>
    <%- include('layouts/nav'); -%>
    <main>
        <div class="main_body">
            <div class="msg">
                <h3>The blog was edited successfully.</h3>
                <input type="button" onclick="location.href='/';" value="Back" />
            </div>
        </div>
    </main>
</body>
<%- include('layouts/footer'); -%>